@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --primary-color: #043a53;
  --text-black: #12141d;
  --white: #ffffff;
  --background-main: #f2f5f6;
  --logo-link-color: #787878;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins";
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  background-color: var(--background-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 8px;
}

a {
  font-weight: 500;
  color: var(--text-black);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

a:active {
  color: var(--primary-color);
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.0625rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.067;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.083;
  letter-spacing: -0.0375rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
}

h5 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.111;
  letter-spacing: -0.0125rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: -0.00625rem;
}

p {
  font-size: medium;
  line-height: 1;
}

@media only screen and (min-width: 601) and (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1.125rem;
  }
}
