@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primary-color: #043a53;
  --text-black: #12141d;
  --white: #ffffff;
  --background-main: #f2f5f6;
  --logo-link-color: #787878;
  --box-shadow-primary: #043a533d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  background-color: var(--background-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
}

a {
  font-weight: 500;
  color: var(--text-black);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

a:active {
  color: var(--primary-color);
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.0625rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.067;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.083;
  letter-spacing: -0.0375rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
}

h5 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.111;
  letter-spacing: -0.0125rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: -0.00625rem;
}

p {
  font-size: medium;
  line-height: 1;
}

.btn-primary {
  display: inline-flex;
  gap: 25px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 55px;
  background: var(--primary-color);
  box-shadow: 0px 23px 47px 0px var(--box-shadow-primary);
  color: var(--white);
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn-secondary-icon-noborder {
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 55px;
  background-color: var(--background-main);
  box-shadow: 0px 23px 47px 0px var(--box-shadow-primary);
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.btn-secondary-icon-noborder span {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: var(--primary-color);
  padding-top: 2px;
  margin: 0;
  white-space: nowrap;
}

.btn-secondary-icon-noborder:hover {
  background-color: var(--background-main);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Hero Section styling starts here */

.main-container .hero-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 100px 120px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.main-container .hero-section .hero-block {
  display: flex;
  flex-direction: row;
  gap: 0px;
  max-width: 1200px;
  max-height: fit-content;
  padding: 0px 40.77px;
}
.main-container .hero-section .hero-block .hero-block-left-img {
  max-width: 197.42px;
  max-height: 340px;
}
.main-container .hero-section .hero-block .hero-block-text-sec {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  gap: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 60.82px;
}
.main-container .hero-section .hero-block .hero-block-right-img {
  max-width: 212.04px;
  max-height: 340px;
}
.main-container
  .hero-section
  .hero-block
  .hero-block-text-sec
  .hero-main-heading {
  font-family: "Lato";
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  color: var(--text-black);
  word-wrap: break-word;
  word-break: normal;
}
.main-container
  .hero-section
  .hero-block
  .hero-block-text-sec
  .hero-main-heading
  span {
  font-family: "Lato";
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  color: var(--primary-color);
}
.main-container
  .hero-section
  .hero-block
  .hero-block-text-sec
  .hero-main-heading
  .hero-sub-text {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  opacity: 70%;
  padding: 14px;
}
.main-container .hero-section .hero-block .hero-block-text-sec .Button-group {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

/* Hero Section styling ends here */

/* Trusted Brands css starts here */
.main-container .tb-section {
  display: flex;
  flex-direction: row;
  min-height: fit-content;
  min-width: 100%;
  gap: 64px;
  margin: 0px;
  padding-top: 50px;
  padding-right: 150px;
  padding-bottom: 50px;
  padding-left: 150px;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.main-container .tb-section .title {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  white-space: nowrap;
}
.main-container .tb-section .icons-group {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 64px;
  align-items: center;
  justify-content: center;
}
/* Trusted Brands css ends here */

/* Media Queries */

@media only screen and (max-width: 1118px) {
  /* Trusted Brands responsive css starts here */
  .main-container .tb-section {
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
  }
  /* Trusted Brands responsive css ends here */
}

@media only screen and (min-width: 641px) and (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }
  /* Trusted Brands responsive css starts here */
  .main-container .tb-section .icons-group {
    flex-wrap: wrap;
    gap: 20px;
  }
  /* Trusted Brands responsive css ends here */
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  /* Hero section responsive css */
  .main-container .hero-section {
    padding: 40px 22px 37px 21px;
  }
  .main-container .hero-section .hero-block {
    padding: 0px;
    flex-wrap: wrap;
  }
  .main-container .hero-section .hero-block .hero-block-left-img {
    order: 2;
    clear: both;
    float: left;
    flex: 1 0 33%;
    padding-bottom: 33px;
    margin-left: 24px;
  }
  .main-container .hero-section .hero-block .hero-block-right-img {
    order: 2;
    clear: both;
    float: right;
    flex: 1 0 33%;
    padding-top: 40px;
    margin-right: 24px;
  }
  .main-container .hero-section .hero-block .hero-block-text-sec {
    order: 1;
    float: left;
    flex: 0 1 100%;
    gap: 16px;
  }

  .main-container
    .hero-section
    .hero-block
    .hero-block-text-sec
    .hero-main-heading,
  .main-container
    .hero-section
    .hero-block
    .hero-block-text-sec
    .hero-main-heading
    span {
    font-size: 36px;
  }
  .main-container
    .hero-section
    .hero-block
    .hero-block-text-sec
    .hero-main-heading
    .hero-sub-text {
    font-size: 14px;
  }
  .main-container .hero-section .hero-block .hero-block-text-sec .Button-group {
    flex-direction: column;
  }
  /* Hero section responsive css ends here */

  /* Trusted Brands responsive css starts here */
  .main-container .tb-section .title {
    font-size: 12px;
    line-height: 18px;
  }
  /* Trusted Brands responsive css ends here */
}
